@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #f2f2f2;
}
.btn{
  position: absolute;
  top: 15px;
  left: 4px;
  height: 45px;
  width: 45px;
  text-align: center;
  background: #71d98c;
  border-radius: 3px;
  cursor: pointer;
  transition: left 0.4s ease;
}
.btn.click{
  left: 260px;
}
.btn span{
  position: fixed;
  color: white;
  font-size: 28px;
  line-height: 45px;
}
.btn.click span:before{
  content: '\f00d';
}
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: -250px;
  background: #71d98c;
  transition: left 0.4s ease;
}
.sidebar.show{
  left: 0px;
}
.sidebar .text{
  color: black;
  font-size: 25px;
  font-weight: 600;
  line-height: 65px;
  text-align: center;
  background: #71d98c;
  letter-spacing: 1px;
}
nav ul{
  background: #71d98c;
  height: 100%;
  width: 100%;
  list-style: none;
}
nav ul li{
  line-height: 60px;
  border-top: 1px solid rgba(255,255,255,0.1);
}
nav ul li:last-child{
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
nav ul li a{
  position: relative;
  color: #d6804b;
  text-decoration: none;
  font-size: 18px;
  padding-left: 40px;
  font-weight: 500;
  display: block;
  width: 100%;
  border-left: 3px solid transparent;
}
nav ul li.active a{
  color: #d6804b;
  background: #1e1e1e;
  border-left-color: #71d98c;
}
nav ul li a:hover{
  background: #1e1e1e;
  border-left-color: #71d98c;
}
nav ul ul{
  position: static;
  display: none;
}
nav ul .feat-show.show{
  display: block;
}
nav ul .serv-show.show1{
  display: block;
}
nav ul ul li{
  line-height: 42px;
  border-top: none;
}
nav ul ul li a{
  font-size: 17px;
  color: white;
  padding-left: 80px;
}
nav ul li.active ul li a{
  color: #e6e6e6;
  background: #1b1b1b;
  border-left-color: transparent;
}
nav ul ul li a:hover{
  color: #d6804b !important;
  background: #1e1e1e!important;
  border-left-color: #71d98c !important;

}
nav ul li a span{
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 22px;
  transition: transform 0.4s;
}
nav ul li a span.rotate{
  transform: translateY(-50%) rotate(-180deg);
}
/* .content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #202020;
  z-ind
  ex: -1;
  text-align: center;
}
.content h1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
} */
#button {
  background:  black;
  padding: 10px 15px;
  margin-top: 25px;
  color: white;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(red, green, blue, 0.75);
  text-decoration: none;
  transition: 0.4s;
}
#button:hover{
  color: #71d98c;
}
.popup {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.popup-content {
   height: 250px;
   width: 500px;
   background: white;
   padding: 20px;
   border-radius: 10px;
   position: relative;
}
input {
  margin: 20px;
  display: block;
  width: 90%;
  padding: 8px;
  border: 1px solid black;
  outline: none;
  border-radius: 4px;
  align-items: center;
}

.close {
  position: absolute;
  top: 0px;
  right: -10px;
  height: 40px;
  width: 50px;
  cursor: pointer;
}
.user-img {
  width: 40px;
}
.menu-img {
 width: 100px;
  margin-left: 25%;
}
nav{
  position: sticky;
  top: 0;
  padding: 10px;
  height: 70px;
  margin: 0;
  background: #71d98c;
}
.heading {
  position: relative;
  top: 15px;
  text-align: center;
  color: white;
}

#login-btn {
  position: absolute;
  top: 10px;
  right: 0;
  background: #b2edc1;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  color: white;
  font-weight: 600;
  border-radius: 8px
}
#login-btn:hover{
  background: black;
}
.body-content {
  position: relative;
  width: 80%;
  left: 20%;
  padding: 10px 0 10px 8px;
  z-index: -1;
  text-align: justify;
}
p{
  margin-right: 10px;
}
.img img {
  padding: 10px 10px 10px 10px;
  border-radius: 50%;
  width: 100%;
  height: auto;
  
}
